streamlit
pandas>=2.2.3
plotly
langchain-groq
langchain-community
langchain-core
langchain-huggingface
langchain-chroma
chromadb
sentence-transformers
rank_bm25
soundfile
groq
networkx
pyannote.audio
torch>=2.5.0
torchaudio>=2.5.0
numpy
