streamlit
pandas
plotly
langchain-groq
langchain-community
langchain-core
chromadb
sentence-transformers
rank_bm25
soundfile
groq
langchain-huggingface
langchain-chroma
networkx
pyannote.audio
torch
torchaudio
sentence-transformers==3.0.1
transformers==4.44.2
huggingface-hub==0.24.6
